H1 {
    position: relative;
    left: 45%;
    color: white;
}

#galaxyName {
    width: 40%;
    border-radius: 0px;
    padding: 10px;
    margin: 0 500px;

}

#button {
    width: 20%;
    border-radius: 0px;
    padding: 10px;
    margin: 40px 650px;
}

body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/NGC_4414_%28NASA-med%29.jpg/1200px-NGC_4414_%28NASA-med%29.jpg");
}